{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">T-Shirt</h1>


        <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='anime.1.jpg') }}" alt="C">
            <div class="card-body">
              <h5 class="card-title">Naruto Friends</h5>
              <h6 class="card-subtitle mb-2 text-muted">$19.99</h6>
              <a href="#" class="btn btn-success">cart</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='anime.3.webp') }}" alt="C">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <h6 class="card-subtitle mb-2 text-muted">$14.99</h6>
              <a href="#" class="btn btn-success">cart</a>
            </div>
          </div>


          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='anime.4.webp') }}" alt="C">
            <div class="card-body">
              <h5 class="card-title">Nezuko Kamado</h5>
              <h6 class="card-subtitle mb-2 text-muted">$21.99</h6>
              <a href="#" class="btn btn-success">cart</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='anime.5.webp') }}" alt="C">
            <div class="card-body">
              <h5 class="card-title">Goku vs Vegeta</h5>
              <h6 class="card-subtitle mb-2 text-muted">$24.99</h6>
              <a href="#" class="btn btn-success">cart</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='anime.6.jpg') }}" alt="C">
            <div class="card-body">
              <h5 class="card-title">Bleach</h5>
              <h6 class="card-subtitle mb-2 text-muted">$31.99</h6>
              <a href="#" class="btn btn-success">cart</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='anime.7.jpg') }}" alt="C">
            <div class="card-body">
              <h5 class="card-title">Hunter X Hunter</h5>
              <h6 class="card-subtitle mb-2 text-muted">$22.99</h6>
              <a href="#" class="btn btn-success">cart</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='anime.8.jpg') }}" alt="C">
            <div class="card-body">
              <h5 class="card-title">Bleach</h5>
              <h6 class="card-subtitle mb-2 text-muted">$27.99</h6>
              <a href="#" class="btn btn-success">cart</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='anime.9.jpg') }}" alt="C">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <h6 class="card-subtitle mb-2 text-muted">$19.99</h6>
              <a href="#" class="btn btn-success">cart</a>
            </div>
          </div>

        </div>

{% endblock %}